.custombg {
    background: linear-gradient(to right, rgb(61, 61, 61), rgb(153, 153, 153));
    color: whitesmoke;
    font-family: 'KoHo', Times, serif;
    font-size: 0.8rem;
}

.custombg img {
    width: 270px;
    height: 250px;
}