body {
  margin: 0;
  font-family: 'KoHo', Times, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, rgb(255, 131, 240), rgb(74, 255, 243));
}
